@charset "UTF-8";
/* CSS Document */

.bottom_box { clear: both; margin-bottom: 20px }
.bottom_box img {
    float: left;
    margin-right: 10px;
    border: 4px solid #fff;
    width: 200px;
    height: 200px;
}
.bottom_box h4 { margin-bottom: 0 }
.bottom_box h4 a { font-size: 15px; color: black; font-weight: 700}
.bottom_box .price { font-size: 12px; font-weight: 700; color: #11bdd1}


.menu_font {
    font-family: "Jersey M54", sans-serif, serif;
    color: #EFCD4B;
    font-size: large;
}
h1 {
    font-family: "Jersey M54", sans-serif, serif;
}

h2 {
    font-family: "Jersey M54", sans-serif, serif;
    font-size: 40px;
    color: #f0cc4c;
}
h4 {
    font-size: 25px;
}
#footer span {
    font-family: "Jersey M54", sans-serif, serif;
    color: #f0cc4c;
    font-size: 20px;
}
footer {
    margin-top: 6%;

}
